*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: rgb(223, 85, 61);
}
.container{
    width: 600px;
    margin: auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-top: 5rem;
    border: 6px solid rgb(73, 184, 228);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}
form input{
    font-size: 1.4rem;
    margin: .8rem 0;
    border: 2px solid rgb(168, 165, 165);
    padding: .5rem 3rem;
    border-radius: .8rem;
}
form label{
    font-size: 1.7rem;
    margin: .8rem 0;
}
form span{
    font-size: 1.7rem;
    margin: 2rem 0;
    color: red;
}

.btn{
    margin: 1rem auto;
    width: 8rem;
    padding: .5rem 2rem;
    background-color: rgb(32, 153, 201);
    color: #fff;
    border: 2px solid skyblue;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .5rem;
}

.sign{
    background-color: rgb(34, 173, 228);
    color: #fff;
    padding: .5rem 2rem;
    margin-top: -1.8rem;
}

#alert{
    margin: 1rem 0;
    color: red;
    display: none;
}




@media  screen and (max-width: 700px) {
    html{
        overflow: hidden;
    }
    .container{
        width: 350px;
        /* margin-top: 4rem;
        margin-left: 2rem; */
    }
    form input{
        font-size: 1rem;
    }
    form label{
        font-size: 1rem;
    }
}