*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    border: none;
}

body{
    background-color: rgb(245, 112, 89);
    overflow: hidden;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 600px;
    margin: 4.5rem auto;
    border: 6px solid rgb(6, 172, 238);
    background-color: #fff;
}

form{
    margin-top: 1rem;
}

form label{
    font-size: 1.7rem;
    margin: 1.5rem 0;
}

form span{
    color: red;
    font-size: 1.7rem;
}

.name{
    display: flex;
    padding: .5rem 0;
    width: 100%;
    margin: 1.5rem 0;
    border: 2px solid #666;
    border-radius: 4px;
}

.sign{
    display: flex;
    justify-content: center;
    background-color: rgb(23, 134, 179);
    color: white;
    padding: .8rem 0;
    width: 15rem;
    align-items: center;
    text-align: center;
    margin-top: -2rem;
}

.btn{
    padding: .2rem 0;
    width: 6rem;
    margin-left: 11rem;
    background-color: rgb(17, 133, 179);
    border: 2px solid rgb(17, 131, 177);
    color: white;
    font-size: 1.2rem;
    margin-top: .2rem;
}

#alert{
    font-size: 1rem;
    color: red;
}


@media screen and (max-width: 700px) {
    
    .box{
        height: 75vh;
        width: 300px;
    }
    .name{
        margin: 1rem 0;
        padding: .5rem .8rem;
        width: 90%;
    }
    .btn{
        margin-left: 3rem;
        margin-top: 1rem;
    }
    #alert{
        font-size: .6rem;
    }
}